{{ {
  'enabled': slurm_user_tags_enabled | default(true) | bool,
  'state_dir': slurm_user_tags_state_dir,
  'local_state_dir': slurm_user_tags_local_cache_dir,
  'tag_namespace': 'hpc-cost',
  'tag_key': 'User',
  'management_value': 'Management',
  'oci_timeout': 10,
  'slurm_bin_dir': slurm_exec ~ '/bin',
  'oci_cli': '/opt/slurm-oci-user-tags/venv/bin/oci'
} | to_nice_json }}
